header.main-header {
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #bbb;
  justify-content: space-between;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.logo {
  height: 30px;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover,
.logo-wrapper:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  color: #000;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
